* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: silver;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  .container{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .settings{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:5px;
    width:55%;
  }
  .settings input{
    margin:10px;
  }

  .sorting_algo{
    padding:10px;
    float:left;
  }

  .sorting_algo button{
    padding:5px;
    margin:10px;
    width:100px;
    background-color:#f4f4f4;
    border-radius: 2px;
    border: 1px solid silver;
    color:maroon;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9rem;

  }
  .sorting_algo button:hover{
    color:white;
    background-color: blue;
  }
  .settings button{
    background-color:#3477eb;
    padding:5px;
    color:white;
    font-family: cursive;
    border-radius:4px;
    border:2px solid silver;
  
  } 
  .settings button:hover{
    color:white;
    background-color:forestgreen;
  }
  #array_section
    {
        display: flex;
        max-width: 90%;
        margin-top: 70px;
        margin-left:auto;
        height: 73vh;
        
    }
  .header {
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
    font-weight: 800;
    font-size:xx-large;
    font-family:cursive;
  }
  .sorting_algo .block
  {
    color:grey;
  }
  .sorting_algo .block:hover{
    background-color: #f4f4f4;
    color:grey;
  }

  .sorting_algo .unblock
  {
    color:maroon;
  }
  .sorting_algo .selected{
    color:white;
    background-color: blue;
  }
  .sorting_algo .selected:hover{
    background-color: blue;
    color:white;
  }
  .footer{
    /* margin-bottompx; */
    text-align: center;
    color:blue;
    
  }
  .footer a{
    color:black;
    text-decoration: none;
    font-weight: 600;
    font-size:medium
  }
  .footer a:hover{
    color:blue;
  } 

  @media screen and (max-width:900px) {
      .settings{
         flex-direction: column;

      }
      .sorting_algo{
        width:50%;

      }
      .settings{
        width:50%;
      }
      .settings button{
        margin-top:20px;
      }
  }